@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,600;1,400&display=swap");
:root {
  --color-black: #212529;
  --color-white: #f8f9fa;
  --color-pink: #f59689;
  --color-blue: #1d6f9e;
  --color-dark-blue: #1d4c9e;
  --color-green: #19bd58;
  --color-light-green: #c6e74e;
  --color-dark-green: #17a589;
  --color-orange: #e29a15;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Krub", Helvetica Neue, sans-serif;
  transition: background 0.5s;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
input:not(input[type="radio"]),
input:not(input[type="radio"]):focus {
  width: 100%;
  border: 3px solid;
  border-radius: 2rem;
  padding: 0 1rem;
  outline: none;
}
input[type="radio"] {
  margin-right: 0.5rem;
}
.cardWrapper {
  width: 100%;
  max-width: 720px;
}
button {
  border: 0px none;
  border-radius: 1rem;
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: 0.5rem 4rem;
  font-size: 1.25rem;
}
.card {
  background-color: beige;
  border: 3px solid;
  border-radius: 2rem;
  padding: 1rem;
}
.choiceList {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
}
.choiceSelect {
  border: 3px solid;
  border-radius: 2rem;
  background-color: var(--color-white);
  padding: 0.5rem 3rem;
  cursor: pointer;
}
